@model ShopCourses.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle{
    Rejestracja
    }

<div>
    @using (@Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        <div id="login-error">
            @Html.ValidationMessage("loginerror","")
            @Html.ValidationSummary()
        </div>

        <table id="login-table" style="margin-left:auto; margin-right:auto;">
            <tr>
                <td>@Html.LabelFor(l => l.Email, "Email:")</td>
                <td>
                    @Html.TextBoxFor(t => t.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(v => v.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(l => l.Password, "Hasło:")</td>
                <td>
                    @Html.PasswordFor(p => p.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(v => v.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 20px 0px 0px; text-align:left;">
                    @Html.LabelFor(l => l.ConfirmPassword, "Potwierdź hasło:")
                </td>
                <td style="padding: 0px; text-align: left;">
                    @Html.PasswordFor(p => p.ConfirmPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(v => v.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-right: 20px;">
                    <input type="submit" value="Zarejestruj" class="submitLink" style="height: 40px; text-align: right; margin: 0px; padding: 0px;"/>
                </td>
            </tr>
        </table>
    }
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }