@model ShopCourses.ViewModels.HomeViewModel
@using ShopCourses.Infrastructure

@{
    ViewBag.Title = "Praktyczne kursy";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var category in Model.Category)
        {
        <li>
            <a href="@Url.Action("List","Course",new { nameCategory=category.NameCategory.ToLower()})"
               style="background-image: url(@Url.PathToIconsCategory(category.NameFileIcon)); ">
                @category.NameCategory
            </a>
        </li>
        }
    </ul>

    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var bestseller in Model.Bestseller)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("AddToBasket", "Basket", new { id = bestseller.CourseId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details", "Course", new { id = bestseller.CourseId })">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.PathToImages(bestseller.NamePicture)" />
                        <h1>
                            @bestseller.TitleCourse - @bestseller.AuthorCourse
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>
<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var news in Model.News)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("AddToBasket", "Basket", new { id = news.CourseId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details", "Course", new { id = news.CourseId })">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.PathToImages(news.NamePicture)" />
                        <h1>
                            @news.TitleCourse - @news.AuthorCourse
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>