<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" type="text/css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>
    @RenderSection("Scripts", false)

    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("GetQuantityElementsBasket","Basket")</span>)
                <span></span>
            </a>
            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <nav>
            <ul>
                @* Drugi sposob na podlinkowanie *@
                @*<li>@Html.ActionLink("About us", "SitesStatic", "Home", new { name = "AboutUs" }, null)</li>
                    <li>@Html.ActionLink("Community", "SitesStatic", "Home", new { name = "Community" }, null)</li>
                    <li>@Html.ActionLink("Feedbacks", "SitesStatic", "Home", new { name = "Feedbacks" }, null)</li>
                    <li>@Html.ActionLink("Help", "SitesStatic", "Home", new { name = "Help" }, null)</li>
                    <li>@Html.ActionLink("Terms of Use", "SitesStatic", "Home", new { name = "TermsOfUse" }, null)</li>
                    <li>@Html.ActionLink("Contact", "SitesStatic", "Home", new { name = "Contact" }, null)</li>*@

                <li><a href="@Url.Action("SitesStatic", "Home", new { name = "AboutUs" })">O nas</a></li>
                <li><a href="@Url.Action("SitesStatic", "Home", new { name = "Community" })">Społeczność</a></li>
                <li><a href="@Url.Action("SitesStatic", "Home", new { name = "Feedbacks" })">Opinie</a></li>
                <li><a href="@Url.Action("SitesStatic", "Home", new { name = "Help" })">Pomoc</a></li>
                <li><a href="@Url.Action("SitesStatic", "Home", new { name = "TermsOfUse" })">Regulamin</a></li>
                <li><a href="@Url.Action("SitesStatic", "Home", new { name = "Contact" })">Kontakt</a></li>
            </ul>
        </nav>

        <div id="footerLogo">
        </div>

        <div id="footerCopyright">
            Copyright &copy; @DateTime.Now.Year
        </div>
    </footer>
</body>
</html>
